@use "./variables.scss" as v;

.site-main .about-area {
  padding: 10rem 10rem;
}
.site-main .about-area .about-title h2 > span {
  padding-top: 10%;
  display: block;
  font: normal bold 49px/60px v.$nova_font;
  letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}