.site-main .site-banner .site-title h3 {
  padding-top: 10%;
  font-weight: 500;
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .site-title > img {
  padding: 5rem 0;
  width: 90rem;
}