@use "./variables.scss" as v;

.site-main .contact-area .contact {
  background: url("/bg-contact.jpg") no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}

.site-main .contact-area .contact .contact-title h4 {
  font: normal 700 40px/40px v.$nova_font;
  color: whitesmoke;
}
.site-main .contact-area .contact .contact-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .contact-area .contact form .input-textbox input {
  width: 400px;
  padding: 1.5rem 2rem;
  margin-bottom: 5%;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px v.$nova_font;
}
.site-main .contact-area .contact form .input-textbox input::placeholder {
  color: whitesmoke;
}