@use "./variables.scss" as v;

footer.footer-area {
  padding: 5rem 0;
  color: whitesmoke;
  background-color: black;
}
footer.footer-area.social h5 {
  font: normal 700 28px/30px v.$nova_font;
  color: whitesmoke;
}
footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: v.$primary_color;
}
footer.footer-area .social a:hover > i {
  color: whitesmoke;
}