@use "./variables" as v;

.header_area .main-menu .navbar .navbar-brand {
  padding: 0.2rem 0.5rem;
}

.header_area .main-menu .navbar {
  padding: 2rem 10rem;
}
.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px v.$nova_font;
  text-transform: uppercase;
  padding: 1.7rem;
  color: v.$title_color;
}
.header_area .main-menu .navbar-nav .active a {
  background: v.$gradient_color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: v.$gradient_color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}