@use "./variables.scss" as v;

.site-main .project-area {
  padding: 6rem 0;
}
.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px v.$nova_font;
  text-transform: uppercase;
}
.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}
.site-main .project-area .grid .my-project > .title h4 {
  font: normal 700 25px/12px v.$nova_font;
}
.site-main .project-area .grid .my-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #f5f5f5);
}
.site-main .project-area .grid .my-project > title a:hover {
  background: v.$gradient_color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.site-main .project-area .button-group button:hover {
  background: v.$gradient_color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}