@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Condensed:wght@300&display=swap");

$primary_color: #4184b4;
$secondary_color: #a9cedb;
$title_color: #141313;
$text_color: #777777;
$border_color: #201f1f17;
$gradient_color: linear-gradient(
  90deg,
  rgba(29, 88, 191, 1) 0%,
  rgba(103, 178, 225, 1) 65%
);
$shadow_color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$box_shadow: 0px 10px 30px rgba(21, 21, 22, 0.205);
$nova_font: "Montserrat", sans-serif;
